$bg-gradient:linear-gradient(65deg, red, transparent), url('/Users/MO_PRO_SHOW/Downloads/Youtube Premium Lesson 4/Youtbe/k.png');
$fonts: Helvetica, sans-serif, Arial;
$display_ib: inline-block;
$display_i: inline;
$textcolor: white;
$button-color:red;
$bgcolor:black;